.reviews {
     padding-bottom: 71px;
     &__item {
          padding: 50px 0;
          display: flex;
          border-top:1px solid #f6f6f6;
          &:nth-child(2) {
               border: none;
          }
          &:nth-child(4) {
               padding-bottom: 0px;
          }
     }
     img {
          width: 169px;
          height: 169px;
          border-radius: 100%;
     }
     &__text {
          margin: 0px 60px;
     }
     &__subtitle {
          font-size: 18px;
          font-weight: 700;
          color: #0d0d0d;
     }
     &__count {
          font-size: 14px;
          font-weight: 300;
          color: #646464;
     }
     &__descr {
          margin-top: 19px;
          font-size: 16px;
          line-height: 1.2;
          font-weight: 300;
          color: #0d0d0d;
     }
}